@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

*{
    font-family: 'Sen', sans-serif;
}

.header-text{
    color: #606080;
    font-weight: 500;
    margin-top: 7px;
    font-size: 17px;
}